In [1]:
!pip install opendatasets

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting opendatasets
  Downloading opendatasets-0.1.22-py3-none-any.whl (15 kB)
Requirement already satisfied: tqdm in /usr/local/lib/python3.9/dist-packages (from opendatasets) (4.65.0)
Requirement already satisfied: kaggle in /usr/local/lib/python3.9/dist-packages (from opendatasets) (1.5.13)
Requirement already satisfied: click in /usr/local/lib/python3.9/dist-packages (from opendatasets) (8.1.3)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.9/dist-packages (from kaggle->opendatasets) (1.26.15)
Requirement already satisfied: certifi in /usr/local/lib/python3.9/dist-packages (from kaggle->opendatasets) (2022.12.7)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.9/dist-packages (from kaggle->opendatasets) (8.0.1)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.9/dist-packages (from kaggle->opendatasets) (1.16.0)
Requirement already satisfied: requests in /usr/local/lib/python3.9/dist-packages (from kaggle->opendatasets) (2.27.1)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.9/dist-packages (from kaggle->opendatasets) (2.8.2)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.9/dist-packages (from python-slugify->kaggle->opendatasets) (1.3)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests->kaggle->opendatasets) (3.4)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.9/dist-packages (from requests->kaggle->opendatasets) (2.0.12)
Installing collected packages: opendatasets
Successfully installed opendatasets-0.1.22

In [2]:
import opendatasets as od
import pandas as pd
import numpy as np
  
od.download("https://www.kaggle.com/competitions/life-expectancy-prediction/data?select=Life_train.csv")

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username: bal00p
Your Kaggle Key: ··········
Downloading life-expectancy-prediction.zip to ./life-expectancy-prediction

100%|██████████| 116k/116k [00:00<00:00, 407kB/s]

Extracting archive ./life-expectancy-prediction/life-expectancy-prediction.zip to ./life-expectancy-prediction

In [43]:
import pandas as pd

df = pd.read_csv(r"/content/life-expectancy-prediction/Life_train.csv", sep=',')

df.head(5)

,Year,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,2014,59.9,271.0,64,0.01,73.523582,62.0,492,18.6,86,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
1,2013,59.9,268.0,66,0.01,73.219243,64.0,430,18.1,89,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
2,2012,59.5,272.0,69,0.01,78.184215,67.0,2787,17.6,93,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
3,2011,59.2,275.0,71,0.01,7.097109,68.0,3013,17.2,97,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5
4,2010,58.8,279.0,74,0.01,79.679367,66.0,1989,16.7,102,66.0,9.20,66.0,0.1,553.328940,2883167.0,18.4,18.4,0.448,9.2

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2489 entries, 0 to 2488
Data columns (total 20 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Year                             2489 non-null   int64
 1   Life expectancy                  2489 non-null   float64
 2   Adult Mortality                  2489 non-null   float64
 3   infant deaths                    2489 non-null   int64
 4   Alcohol                          2322 non-null   float64
 5   percentage expenditure           2489 non-null   float64
 6   Hepatitis B                      2009 non-null   float64
 7   Measles                          2489 non-null   int64
 8    BMI                             2461 non-null   float64
 9   under-five deaths                2489 non-null   int64
 10  Polio                            2471 non-null   float64
 11  Total expenditure                2293 non-null   float64
 12  Diphtheria                       2471 non-null   float64
 13   HIV/AIDS                        2489 non-null   float64
 14  GDP                              2103 non-null   float64
 15  Population                       1935 non-null   float64
 16   thinness  1-19 years            2461 non-null   float64
 17   thinness 5-9 years              2461 non-null   float64
 18  Income composition of resources  2343 non-null   float64
 19  Schooling                        2343 non-null   float64
dtypes: float64(16), int64(4)
memory usage: 389.0 KB

Только численные значения, работы со строками не будет.

In [49]:
df_nan = df.loc[:, df.isnull().any()]
df_nan[df_nan.isnull().any(axis=1)]

,Alcohol,Hepatitis B,BMI,Polio,Total expenditure,Diphtheria,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
35,0.34,NaN,47.0,87.0,3.60,87.0,294.335560,3243514.0,6.3,6.1,0.663,11.5
36,0.36,NaN,46.1,86.0,3.73,86.0,1774.336730,3199546.0,6.3,6.2,0.653,11.1
37,0.23,NaN,45.3,89.0,3.84,89.0,1732.857979,31592153.0,6.4,6.3,0.644,10.9
38,0.25,NaN,44.4,86.0,3.49,86.0,1757.177970,3118366.0,6.5,6.4,0.636,10.7
39,NaN,64.0,23.3,7.0,NaN,64.0,3695.793748,2785935.0,8.3,8.2,0.531,11.4
...,...,...,...,...,...,...,...,...,...,...,...,...
2470,2.33,NaN,17.6,85.0,8.18,83.0,429.158343,11421984.0,7.3,7.2,0.443,10.2
2471,2.44,NaN,17.3,85.0,6.93,84.0,377.135244,111249.0,7.4,7.3,0.433,10.0
2472,2.61,NaN,17.1,86.0,6.56,85.0,378.273624,1824125.0,7.4,7.4,0.424,9.8
2473,2.62,NaN,16.8,85.0,7.16,85.0,341.955625,1531221.0,7.5,7.5,0.418,9.6
2474,NaN,87.0,31.8,88.0,NaN,87.0,118.693830,15777451.0,5.6,5.5,0.507,10.3

Пропуски разбросаны по всей таблице, полностью нулевых строк нет. Посмотрим процентное содержание пропусков в столбцах.

In [6]:
df_nan.isnull().sum() / len(df_nan) * 100

Alcohol                             6.709522
Hepatitis B                        19.284853
 BMI                                1.124950
Polio                               0.723182
Total expenditure                   7.874648
Diphtheria                          0.723182
GDP                                15.508236
Population                         22.257935
 thinness  1-19 years               1.124950
 thinness 5-9 years                 1.124950
Income composition of resources     5.865810
Schooling                           5.865810
dtype: float64

Процентные содержание пропусков в столбцах у всех небольшое, никакие толбцы удалять не будем.

В зависимости от вида распределения выборок, определимся, каким способом заполним пропуски.

In [16]:
#чтобы не испортить статистику, заполняем средним
df[" BMI "].fillna(df[" BMI "].mean(), inplace=True)
#есть явно выделяющееся популярное значение
df["Polio"].fillna(df["Polio"].mode()[0], inplace=True)
df["Alcohol"].fillna(df["Alcohol"].mode()[0], inplace=True)
df["Hepatitis B"].fillna(df["Hepatitis B"].mode()[0], inplace=True)
df["Diphtheria "].fillna(df["Diphtheria "].mode()[0], inplace=True)
df["GDP"].fillna(df["GDP"].mode()[0], inplace=True)
df["Population"].fillna(df["Population"].mode()[0], inplace=True)
df[" thinness  1-19 years"].fillna(df[" thinness  1-19 years"].mode()[0], inplace=True)
df[" thinness 5-9 years"].fillna(df[" thinness 5-9 years"].mode()[0], inplace=True)
#похоже на нормальное распредление
df["Total expenditure"].interpolate(method="linear", direction = "forward", inplace=True)
df["Income composition of resources"].interpolate(method="linear", direction = "forward", inplace=True)
df["Schooling"].interpolate(method="linear", direction = "forward", inplace=True)

In [17]:
df = df.select_dtypes(include=np.number)
df.describe()

,Year,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
count,2489.000000,2489.000000,2489.000000,2489.000000,2489.000000,2489.000000,2489.000000,2489.000000,2489.000000,2489.000000,2489.000000,2489.000000,2489.000000,2489.000000,2489.000000,2.489000e+03,2489.000000,2489.000000,2489.000000,2489.000000
mean,2007.453998,69.135677,165.517075,31.925271,4.292089,719.997905,84.378063,2508.917638,38.197887,44.378063,82.561671,5.949118,82.217758,1.777581,6185.489676,9.851664e+06,4.955685,5.017035,0.588536,11.232905
std,4.593657,9.626188,125.091120,122.898636,4.050564,1968.953987,23.663939,11795.371317,19.807530,167.571112,23.381249,2.430510,23.904519,5.184826,13159.143926,5.344931e+07,4.548199,4.694186,0.252230,4.320835
min,2000.000000,36.300000,1.000000,0.000000,0.010000,0.000000,1.000000,0.000000,1.000000,0.000000,3.000000,0.370000,2.000000,0.100000,1.681350,4.100000e+01,0.100000,0.100000,0.000000,0.000000
25%,2003.000000,63.000000,74.000000,0.000000,0.490000,4.344931,82.000000,0.000000,19.400000,0.000000,78.000000,4.330000,78.000000,0.100000,188.783165,6.775000e+03,1.600000,1.600000,0.460000,9.300000
50%,2007.000000,72.100000,144.000000,3.000000,3.150000,64.605901,95.000000,15.000000,42.800000,4.000000,93.000000,5.780000,93.000000,0.100000,1161.769350,5.479280e+05,3.400000,3.400000,0.659000,12.100000
75%,2011.000000,75.700000,228.000000,23.000000,7.380000,431.545247,99.000000,357.000000,56.100000,29.000000,97.000000,7.440000,97.000000,0.800000,4737.669960,4.538159e+06,7.300000,7.300000,0.772000,14.000000
max,2015.000000,89.000000,723.000000,1800.000000,17.310000,19479.911610,99.000000,212183.000000,77.600000,2500.000000,99.000000,17.600000,99.000000,50.600000,119172.741800,1.293859e+09,27.700000,28.600000,0.948000,20.600000

Видно, что признаки лежат в разных диапазонах, проведем масштабирование данных. Все признаки не меньше нуля, пусть так и останется, воспользуемся нормализацией.

In [18]:
from sklearn.preprocessing import MinMaxScaler
X = df.drop(columns=["Year", "Life expectancy "])
y = df["Life expectancy "]
#не хочется делать значения нулевыми, использую нормализацию
mmsc = MinMaxScaler()
X_norm = mmsc.fit_transform(X)
X_norm = pd.DataFrame(X_norm, columns=X.columns)
X_norm.describe()

,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
count,2489.000000,2489.000000,2489.000000,2489.000000,2489.000000,2489.000000,2489.000000,2489.000000,2489.000000,2489.000000,2489.000000,2489.000000,2489.000000,2489.000000,2489.000000,2489.000000,2489.000000,2489.000000
mean,0.227863,0.017736,0.247520,0.036961,0.850797,0.011824,0.485612,0.017751,0.828767,0.323803,0.826987,0.033219,0.051890,0.007614,0.175931,0.172528,0.620819,0.545287
std,0.173256,0.068277,0.234137,0.101076,0.241469,0.055591,0.258584,0.067028,0.243555,0.141063,0.246438,0.102670,0.110422,0.041310,0.164790,0.164708,0.266066,0.209749
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.101108,0.000000,0.027746,0.000223,0.826531,0.000000,0.240209,0.000000,0.781250,0.229832,0.783505,0.000000,0.001570,0.000005,0.054348,0.052632,0.485232,0.451456
50%,0.198061,0.001667,0.181503,0.003317,0.959184,0.000071,0.545692,0.001600,0.937500,0.313987,0.938144,0.000000,0.009735,0.000423,0.119565,0.115789,0.695148,0.587379
75%,0.314404,0.012778,0.426012,0.022153,1.000000,0.001683,0.719321,0.011600,0.979167,0.410331,0.979381,0.013861,0.039741,0.003507,0.260870,0.252632,0.814346,0.679612
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

Проведем аналогичные операции для Тестовой выборки

In [22]:
df_test = pd.read_csv(r"/content/life-expectancy-prediction/Life_test.csv", sep=',')

df_test[" BMI "].fillna(df_test[" BMI "].mean(), inplace=True)
df_test["Polio"].fillna(df_test["Polio"].mode()[0], inplace=True)
df_test["Alcohol"].fillna(df_test["Alcohol"].mode()[0], inplace=True)
df_test["Hepatitis B"].fillna(df_test["Hepatitis B"].mode()[0], inplace=True)
df_test["Diphtheria "].fillna(df_test["Diphtheria "].mode()[0], inplace=True)
df_test["GDP"].fillna(df_test["GDP"].mode()[0], inplace=True)
df_test["Population"].fillna(df_test["Population"].mode()[0], inplace=True)
df_test[" thinness  1-19 years"].fillna(df_test[" thinness  1-19 years"].mode()[0], inplace=True)
df_test[" thinness 5-9 years"].fillna(df_test[" thinness 5-9 years"].mode()[0], inplace=True)
df_test["Total expenditure"].interpolate(method="linear", direction = "forward", inplace=True)
df_test["Income composition of resources"].interpolate(method="linear", direction = "forward", inplace=True)
df_test["Schooling"].interpolate(method="linear", direction = "forward", inplace=True)

X2 = df_test.drop(columns=["Year"])
X_norm2 = mmsc.fit_transform(X2)
X_norm2 = pd.DataFrame(X_norm2, columns=X2.columns)

X_train = X_norm
X_test = X_norm2
y_train = y

Обучим модель

In [23]:
from sklearn.linear_model import LinearRegression
from sklearn import metrics 

model = LinearRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

Полученные коэффициенты

In [24]:
coeff_df = pd.DataFrame({"Index": np.arange(0, len(y_pred)), "Life expectancy": y_pred})
coeff_df

     Index  Life expectancy
0        0        76.871219
1        1        75.072774
2        2        74.594582
3        3        60.891345
4        4        64.652663
..     ...              ...
434    434        64.758893
435    435        73.794942
436    436        78.216408
437    437        87.938036
438    438        40.114750

[439 rows x 2 columns]

In [25]:
coeff_df.to_csv(r"/content/Predictions.csv", index=False)